.panel

    h1.panel__title #{data.title}

    p.panel__paragraph Автоматизированный сБорщик статических файлов для веб. Под капотом, всем этим безобразием рулит #[a(href="https://gulpjs.com/") Gulp]. Статические файлы собираются из исходников на #[a(href="https://pugjs.org/") pug], #[a(href="https://sass-lang.com/") scss] и ванильного JS (в данный момент без #[a(href="https://coffeescript.org/") CoffeeScript], #[a(href="https://www.typescriptlang.org/") TypeScript] и прочих плюшек, которые, возможно, появятся в будущем).

    h2.panel__subtitle Принцип работы

    p.panel__paragraph Подразумевается полное или частичное соответствие #[a(href="https://ru.bem.info/methodology/") БЭМ]-методологии:

    ol.panel__list
        li.panel__listItem Каждый блок является атомарным, и располагается в одноименной подпапке внутри директории #[strong b_], содержащей прочие блоки.
        li.panel__listItem Блок собирается из #[strong .pug|.scss|.js] файлов. Имена этих файлов могут быть произвольными, но лучше всего давать им одинаковые имена, совпадающие с именем блока. Например, блок #[strong myBlock] должен находится в папке #[strong /src/b_/myBlock], и быть описан в файлах #[strong myBlock{.pug|.scss|.js}]. Кроме того, имя класса у данного блока должно совпадать с наименованием блока: #[strong .myBlock] — это упрощает сопровождение и навигацию по проекту.
        li.panel__listItem Файлы #[strong *.pug] шаблонов страниц находятся в папке #[strong /src] (например, #[strong /src/index.pug] или #[strong /src/home.pug]).
        li.panel__listItem Блоки #[strong .pug] подключаются в файлы шаблонов вручную при помощи директивы #[strong include] в нужное место шаблон(а/ов).
        li.panel__listItem Допускается вкладывание одного блока в другой. Но нужно быть осторожнее с этим, т.к. можно столкнуться с проблемой циклической вложенности.
        li.panel__listItem Если есть необходимость временно или полностью исключить включение файлов #[strong .scss|.js] в итоговую сборку, можно добавить символ подчеркивания в начало имени файлов, например файл #[strong _myBlock.scss] не будет включен в сборку.
        li.panel__listItem К основному файлу стилей #[strong styles.scss] подмешиваются дополнительные стили (при помощи директивы #[strong @import]), миксины и/или библиотеки, расположенные в папке #[strong src/.scss/]. По умолчанию, предусмотрен всего один общий файл стилей на все случаи жизни. В него включаются все стили блоков, кроме исключенных (см.п. 6).
        li.panel__listItem Файлы JavaScript просто склеиваются в один итоговый файл из .js-кусочков, расположенных в папках блоков, кроме исключенных (см.п. 6).

    h2.panel__subtitle Тестовая сборка

    p.panel__paragraph Тестовая сборка (в папке #[strong /test]) проекта осуществляется простым запуском команды #[strong gulp] в консоли. Задача по умолчанию стартует броузер и автоматическую перезагрузку тестовой сборки.

    h2.panel__subtitle Финальная сборка

    p.panel__paragraph Финальная сборка проекта (в папке #[strong /dist]) в данный момент еще не реализована.
