// ----------------
// Common variables
// ----------------

$fontWeightThin       : 100;
$fontWeightHairline   : 100;
$fontWeightExtraLight : 200;
$fontWeightUltraLight : 200;
$fontWeightLight      : 300;
$fontWeightNormal     : 400;
$fontWeightRegular    : 400;
$fontWeightMedium     : 500;
$fontWeightDemiBold   : 600;
$fontWeightSemiBold   : 600;
$fontWeightBold       : 700;
$fontWeightExtraBold  : 800;
$fontWeightBlack      : 900;
$fontWeightHeavy      : 900;
