doctype html
html.no-js(lang='ru')
    head
        meta(charset='UTF-8')
        title сБорщик v0.1.0
        link(rel='stylesheet' href='css/styles.css')
    body.page

        include ./b_/panel/panel

        script(type='text/javascript', src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(type='text/javascript', src='js/script.js')
