// -----------
// Root styles
// -----------
html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

// -------------
// CSS Variables
//
// Use any variables of your choice. E.g.:
//
// .myElement {
//   background-color: var(--colorBackgroundPrimary);
// }
//
// -------------
:root {
  --colorPrimary: #333;
  --colorSecondary: #aaa;
  --colorBackgroundPrimary: #fff;
  --colorBackgroundSecondary: #444;
}

// Importing common SCSS files
@import '.scss/varlib';
@import '.scss/mixins';
@import '.scss/fonts';

// Importing all BEM block .scss files
@import './b_/**/*.scss';
